body 
{
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
}
.tblStyle1
{
    font-family:Verdana;
    font-size:11px;
    color:Navy;
    height:600px;
}
.lblStyleAlert
{
    font-family:Verdana;
    font-size:10px;
    color:Red;
}
.lblStyle1
{
    font-family:Verdana;
    font-size:11px;
    color:Navy;
}
.middleStyle1
{
    height:70%;    
}
.btnStyle1
{
	width:20px;
	height:20px;
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	cursor:hand;
}
.btnStyle2
{
	width:100px;
	height:20px;
	font-family:Verdana;
	font-weight:bold;
	font-size:11px;
	cursor:hand;	
}
.btnStyle3
{
	width:75px;
	height:18px;
	font-family:Verdana;
	font-weight:bold;
	font-size:11px;
	cursor:hand;	
}
.btnStyle4
{
	height:19px;
	font-family:Verdana;
	font-weight:bold;
	font-size:11px;
	cursor:hand;	
}
.txtStyle1
{
	border-style:solid;
	width:100px;
	height:14px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	color:Navy;			
}
.txtStyle2
{
	border-style:solid;
	width:100px;
	height:12px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	color:Navy;			
}
.txtStyle3
{
	border-style:solid;
	width:300px;
	height:12px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	color:Navy;			
}
.txtStyle4
{
	border-style:solid;
	width:80px;
	height:11px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	color:Navy;			
}
.cmbStyle1
{
	border-style:solid;
	width:100px;
	height:20px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	color:Navy;
}
.cmbStyle2
{
	border-style:solid;	
	height:20px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	color:Navy;
}
.cmbStyle3
{
	border-style:solid;
	width:350px;	
	height:20px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	color:Navy;
}
.cmbStyle4
{
	border-style:solid;
	width:710px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	color:Navy;
	cursor:hand;
}
.titleHeader
{
	background-image:url("images/headerBackground.JPG");
	background-repeat:repeat;
	border-right: #2F4F4F double;
    border-top: #2F4F4F double;
    font-weight: bolder;
    font-size: 16px;
    padding-bottom: 2px;
    text-transform: uppercase;
    border-left: #2F4F4F double;
    color: white;
    padding-top: 2px;
    border-bottom: #2F4F4F double;
    font-family:Tahoma;
    background-color: #5078B3;
    font-variant: small-caps;
}
.navStyle1
{
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    padding:2px 2px 2px 2px;
    text-align:left;
    border-color:Black;
    border-style:solid;
    border-width:1px;
}
/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
    height:430px;
}

     
.headerStyle1
{
    background-image: url(images/ERT_Header.JPG);
    background-repeat:no-repeat;
    background-color:Black;    
    height:48px;
}
.footerStyle1
{
    background-image: url(images/ERT_Footer.JPG);
    background-repeat: repeat;
    height:65px;
}
.accordionLink
{
    font-family:Verdana;
    font-size:11px;
    text-decoration:none;    
}
.tableHeader1
{
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
	text-align:center;
	background-color:Navy;
	color:White;
}
.tableDetail1
{
    padding: 2px 2px 2px 2px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	font-style:normal;
	text-align:left;	
	background-color:white;
	color:navy;
	padding:0.1cm;	
}
.lblStyle4	 
{
	font-family:Verdana;
	font-size:x-small;
	font-weight:bold;
	color:Red;
}
.inputTypeFile1
{
	border-style:solid;
	width:485px;
	height:20px;
	font-family:Verdana;
	font-size:12px;
	color:Navy;			
}
.txtStyle7
{
	border-style:solid;
	width:440px;
	height:80px;
	font-family:Verdana;
	font-size:12px;
}
.bodyStyle1 {
       background-color:rgb(255,255,255);
       font-family:tahoma;
       font-size:12;
       font-variant:small-caps;
       color:navy;
       border-style:solid;
       border-color:rgb(255,255,255);
       border-width:2px;
       padding: 2px 5px 2px 5px;
}
.imgStyle {
      float:right;
      border:2px groove black;
      margin:0px 0px 0px 10px;
}
.imgStyle1 {
      float:left;
      border:2px groove black;
      margin:10px 10px 0px 0px;
}
.header_menu3 {
         background-image: url('images/header_body.jpg');
         background-repeat: repeat;
         font-family:verdana;
         font-size:12;
         font-variant:small-caps;
         font-weight:bold;
         color:white;
         width:99%;
}
.span {
          float:left;
          width:0.7em;
          font-size:400%;
          font-family:algerian,courier;
          line-height:80%;
}
.header_menu {
             background-color:Navy;
             font-family:verdana;
             font-size:12;
             font-variant:small-caps;
             font-weight:bold;
             color:white;
             border-style:ridge;
             border-color:rgb(192,236,242);
             border-width:2px;
             padding-top:3;
             padding-bottom:3;
}
.body_menu {
             background-color:rgb(255,255,255);
             font-family:tahoma;
             font-size:12;
             font-variant:small-caps;
             color:navy;
             border-style:solid;
             border-color:Navy;
             border-width:2px;
             padding-top:3;
             padding-bottom:3;
}
.paragraphStyle1 {
          padding-left:10;
          padding-right:10;
          padding-bottom:10;
}
.leftNavStyle1
{
    height:100%;
}