/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}

#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*margin: 45px;*/
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
	background: #b9c9fe url('/Zend_/template/public/images/table-images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
	background: #b9c9fe url('/Zend_/template/public/images/table-images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}
#rounded-corner td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
#rounded-corner td a:hover { text-decoration:none; }
#rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('/Zend_/template/public/images/table-images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('/Zend_/template/public/images/table-images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
	background: #d0dafd;
}

#one-column-emphasis
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*margin: 45px;*/
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#one-column-emphasis th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}
#one-column-emphasis td
{
	padding: 5px 10px;
	/*padding: 10px 15px;*/
	color: #669;
	border-top: 1px solid #e8edff;
	border-right: 1px solid #e8edff;
	border-bottom: 1px solid #e8edff;
}
.oce-first
{
	background: #FFFACD;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
/*
#one-column-emphasis tr:hover td
{
	color: #339;
	background: #eff2ff;
}
*/

table.contents
{
	background-color	:	#999999;
}

tr.label,td.label
{
	color				:	#000000;
	background-color	:	#CCCCCC;
	font-family			:	Verdana, Arial, Helvetica, sans-serif;
	font-size			:	11px;
	font-style			:	normal;
	font-weight			:	bold;
	text-align			:	left;
	text-decoration		:	none;
	vertical-align		:	top;
}

tr.contents
{
	color				:	#000000;
	background-color	:	#FFFFFF;
	font-family			:	Verdana, Arial, Helvetica, sans-serif;
	font-size			:	11px;
	font-style			:	normal;
	font-weight			:	normal;
	text-align			:	left;
	text-decoration		:	none;
	vertical-align		:	top;
}

#info-box
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 100%;
	text-align: left;
	/*border-collapse: collapse;*/
}
#info-box th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}
#info-box td
{
	padding: 5px 10px;
	border-top: 1px solid #e8edff;
	border-right: 1px solid #e8edff;
	border-bottom: 1px solid #e8edff;
}

/***********unijaya*******/
#unijaya
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*margin: 45px;*/
	width: 100%;
	text-align: left;
	/*border-collapse: collapse;*/
}
#unijaya thead th.rounded-company
{
	background: #b9c9fe url('/Zend_/template/public/images/table-images/left.png') left -1px no-repeat;
}
#unijaya thead th.rounded-q4
{
	background: #b9c9fe url('/Zend_/template/public/images/table-images/right.png') right -1px no-repeat;
}
#unijaya th
{
	padding: 8px;
	font-weight	:bold;
	font-size: 13px;
	color: #039;
	background: #eeeeee;
	border: 1px solid #cccccc;
}
#unijaya td
{
	padding: 5px;
	background: #ffffff;
	border: 1px solid #cccccc;
	color: #669;
}
#unijaya td a:hover { text-decoration:none; }
#unijaya tfoot td.rounded-foot-left
{
	background: #e8edff url('/Zend_/template/public/images/table-images/botleft.png') left bottom no-repeat;
}
#unijaya tfoot td.rounded-foot-right
{
	background: #e8edff url('/Zend_/template/public/images/table-images/botright.png') right bottom no-repeat;
}
#unijaya tbody tr:hover td
{
	background: #d0dafd;
}

/***************Crazy Egg*****************/
#crazy table {border-collapse:collapse;}
#crazy th.side {
	background: transparent url(../../images/crazy/bg_th_side.gif) no-repeat bottom left;
}
#crazy td.side {
	text-align:right;
	background: transparent url(../../images/crazy/bg_td_side.gif) no-repeat bottom left;
	width:180px;
	font:bold 12px/15px verdana;
	color:#6e6f37;
	padding-right:8px;
}

#crazy th {
	height:64px;
	border-right:1px solid #fff;
	vertical-align:bottom;
	color:#fff;
	font:normal 21px/27px arial;
	letter-spacing:2px;
	background:transparent url(../../images/crazy/bg_th.gif) no-repeat bottom left;
	}
#crazy td {
	text-align:center;
	background:transparent url(../../images/crazy/bg_td.gif) no-repeat bottom left;
	border-right:1px solid #fff;
	color:#fff;
	width:108px;
	height:40px;
	font:bold 12px/18px verdana;
}
#crazy td.on {background:transparent url(../../images/crazy/bg_td_on.gif) no-repeat bottom left;}
#crazy th.on {
	background:transparent url(../../images/crazy/bg_th_on.gif) no-repeat bottom left;
	padding-bottom:9px;
	width:148px;
}

#crazy tfoot td {
	background:transparent url(../../images/crazy/bg_foot_td.gif) no-repeat top left;
	height:64px;
	vertical-align:top;
	padding-top:8px;
}
#crazy tfoot td.on {
	background:transparent url(../../images/crazy/bg_foot_td_on.gif) no-repeat top left;
	padding-top:16px;
}
#crazy tfoot td.side {background: transparent url(../../images/crazy/bg_foot_td_side.gif) no-repeat top left;}
/******************End********************/